.pocket-notes2 {
    margin: 0;
    height: 41px;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
  }
  /* .group */
  .group-pop
  {
    width: 30%;
    height: 30vh;
    border-radius: 5px;
    position:absolute;
    z-index: 2;
    background-color:white;
    color: #000;
    text-align: center;
    margin: 10% 40%;
    top: 10%;
    /* left: 55%; */
  }
  .group-name-input
  {
    height: 3vh;
    border-radius: 5px;
  }
  ul li
  {
    list-style: none;
    position:static;
    margin-top: 0%;  
  }
  .create-btn
  {
    text-decoration: none;
    position: relative;
    top: -2vh;
    left: 30%;
    background-color: blue;
    color: white;
    padding:0% 3%;
    border-radius: 10px;
    font-size:20px;
  }
  .btn-color
  {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    /* border: none; */
    cursor: pointer;
  }
  .pocket-notes-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 37px 0 0;
  }
  .encrypted-frame-child {
    /* align-self: stretch; */
    /* flex: 1; */
    /* position: relative; */
    border-radius: 50%;
    width: 150vh;
    height: 10vh;
    background-color: #0047ff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mn2 {
    width: 35px;
    position: relative;
    letter-spacing: 0.02em;
    line-height: 97.69%;
    font-weight: 500;
    display: inline-block;
    z-index: 1;
    margin-left: 20px;
    text-decoration: none;
    color: white;
    /* color: #000; */
  }
  .encrypted-frame {
    align-self: stretch;
    height: 10vh;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 17px 0 0;
  }
  .encrypted-frame-item {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 50%;
    background-color: #b38bfa;
  }
  .mp1 {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 97.69%;
    font-weight: 500;
    z-index: 1;
    margin-left: -52px;
  }
  .encrypted-frame1 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px 0 0;
    font-size: 23.1px;
  }
  .encrypted-frame-inner {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0.1px;
    bottom: 0.1px;
    left: 0;
    border-radius: 50%;
    background-color: #ffc0c0;
  }
  .jg2 {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 97.69%;
    font-weight: 500;
    z-index: 1;
  }
  .encrypted-frame2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 23px 20px 21px 17px;
    position: relative;
    font-size: 24.1px;
  }
  .encrypted-frame-parent {
    margin: 0;
    align-self: stretch;
    width: 69px;
    display: flex;
    /* height: 10vh; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px 0;
    text-align: left;
    font-size: 24px;
    color: #fff;
    font-family: Roboto;
  }
  .javascript-grp2,
  .my-notes2,
  .my-personal-grp2 {
    position: relative;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-decoration: none;
    color: #000;
  }
  .frame-parent3,
  .personal-javascript,
  .personal-javascript-wrapper {
    display: flex;
    height: 5vh;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
  }
  .frame-parent3:hover
  {
    background-color: gray;
    border-top-left-radius: 15px;
  }
  .personal-javascript {
    gap: 71px 0;
  }
  .frame-parent3 {
    flex: 1;
    flex-direction: row;
    align-items: center;
    /* padding: 0 20px 0 0; */
    gap: 0 29px;
    height: 20vh;
    /* padding: 2vh; */
    font-size: 24px;
    color: #000;
  }
  .frame-child6 {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 50%;
    background-color: #43e6fc;
  }
  .hg2 {
    width: 30px;
    position: relative;
    letter-spacing: 0.02em;
    line-height: 97.69%;
    font-weight: 500;
    display: inline-block;
    z-index: 1;
    margin-left: -52px;
  }
  .ellipse-parent2 {
    align-self: stretch;
    width: 69px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 22px 0 0;
    box-sizing: border-box;
  }
  .html-grp2 {
    position: relative;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  .frame-parent5,
  .s-n {
    display: flex;
    justify-content: flex-start;
  }
  .s-n {
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 0 0;
    font-size: 24px;
    color: #000;
  }
  .frame-parent5 {
    flex: 1;
    flex-direction: row;
    align-items: center;
    gap: 0 30px;
  }
  .frame-child7 {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 50%;
    background-color: #f19576;
  }
  .cn2 {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 97.69%;
    font-weight: 500;
    z-index: 1;
    margin-left: -52px;
  }
  .ellipse-parent3 {
    align-self: stretch;
    width: 69px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 22px 0 0;
    box-sizing: border-box;
  }
  .css-notes2 {
    position: relative;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  .c-s-s-python-notes {
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 0 0;
    font-size: 24px;
    color: #000;
  }
  .c-s-s-python-notes,
  .frame-parent4,
  .frame-parent6 {
    display: flex;
    justify-content: flex-start;
  }
  .frame-parent6 {
    flex: 1;
    flex-direction: row;
    align-items: center;
    gap: 0 30px;
  }
  .frame-parent4 {
    height: 168px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px 0 0;
    box-sizing: border-box;
    gap: 30px 0;
  }
  .frame-child8 {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 50%;
    background-color: #6691ff;
  }
  .sn2 {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 97.69%;
    font-weight: 500;
    z-index: 1;
    margin-left: -51px;
  }
  .ellipse-parent4 {
    align-self: stretch;
    width: 69px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 22px 0 0;
    box-sizing: border-box;
  }
  .sql-notes2 {
    position: relative;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  .frame-parent8,
  .sql-notes-wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .sql-notes-wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 0 0;
    font-size: 24px;
    color: #000;
  }
  .frame-parent8 {
    flex: 1;
    flex-direction: row;
    align-items: center;
    gap: 0 29px;
  }
  .frame-child9 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0.1px;
    bottom: 0.1px;
    left: 0;
    border-radius: 50%;
    background-color: #ff66f0;
  }
  .pn2 {
    width: 34px;
    position: relative;
    letter-spacing: 0.02em;
    line-height: 97.69%;
    font-weight: 500;
    display: inline-block;
    z-index: 1;
  }
  .ellipse-parent5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 23px 21px 21px 14px;
    position: relative;
  }
  .python-notes2 {
    position: relative;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  .python-notes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 0 0;
    font-size: 24px;
    color: #000;
  }
  .frame-parent7,
  .frame-parent9 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 28px;
  }
  .frame-parent7 {
    height: 168px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px 0 0;
    box-sizing: border-box;
    gap: 30px 0;
  }
  .remove-image-frame-child {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 50%;
    background-color: #16008b;
  }
  .vector-tool {
    position: relative;
    font-size: inherit;
    letter-spacing: 0.02em;
    line-height: 97.69%;
    font-weight: 500;
    font-family: inherit;
    z-index: 1;
    margin: 0 0 0-66px;
    text-decoration: none;
      color: white;
  }
  .remove-image-frame,
  .remove-image-frame-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
  }
  .remove-image-frame {
    width: 93px;
    align-items: center;
    justify-content: flex-start;
    padding: 0 27px 0 0;
    box-sizing: border-box;
  }
  .remove-image-frame-wrapper {
    height: 93px;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 70px;
    top: 85%;
    left: 15%;
    position: absolute;
  }
  .frame-parent2 {
    align-self: stretch;
    flex: 1;
    align-items: flex-start;
    gap: 29px 0;
    font-size: 24.1px;
    color: #fff;
  }
  .frame-parent1,
  .frame-parent2,
  .main-page-inner {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .frame-parent1 {
    align-self: stretch;
    flex: 1;
    align-items: center;
    gap: 55px 0;
  }
  .main-page-inner {
    height: 100vh;
    width: 361px;
    overflow-y: scroll;
    align-items: flex-start;
    padding: 66px 0 0;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: 35px;
    color: #000;
    font-family: Roboto;
  }
  @media screen and (max-width: 1050px) {
    .main-page-inner {
      padding-top: 43px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .pocket-notes2 {
      font-size: 28px;
    }
    .vector-tool {
      font-size: 56px;
      line-height: 55px;
    }
    .main-page-inner {
      padding-top: 28px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .pocket-notes2 {
      font-size: 21px;
    }
    .mn2 {
      font-size: 19px;
      line-height: 19px;
    }
    .mp1 {
      font-size: 18px;
      line-height: 18px;
    }
    .jg2 {
      line-height: 19px;
    }
    .javascript-grp2,
    .jg2,
    .my-notes2,
    .my-personal-grp2 {
      font-size: 19px;
    }
    .hg2 {
      line-height: 19px;
    }
    .hg2,
    .html-grp2 {
      font-size: 19px;
    }
    .cn2 {
      line-height: 19px;
    }
    .cn2,
    .css-notes2 {
      font-size: 19px;
    }
    .sn2 {
      line-height: 19px;
    }
    .sn2,
    .sql-notes2 {
      font-size: 19px;
    }
    .pn2 {
      line-height: 19px;
    }
    .pn2,
    .python-notes2 {
      font-size: 19px;
    }
    .vector-tool {
      font-size: 42px;
      line-height: 41px;
    }
    .frame-parent1 {
      gap: 55px 0;
    }
  }